<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heaven's Above - Product Details:</title>
    {%load static%}
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{% static 'heaven_app/css/style.css'%}">
        <!-- Bootstrap core CSS -->
        <link href="{% static 'heaven_app/css/bootstrap.min.css'%}" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
    <a class="navbar-brand" href="/">Heavens Above</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="contact">Contact</a>
            </li>
            {%if 'user_id' in request.session%}
                {%if request.session.user_role %}
            <li class="nav-item active">
                <a class="nav-link" href="/admin/{{request.session.user_id}}">DashBoard</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
                {%else%}
            <li class="nav-item active">
                <a class="nav-link" href="/account/{{request.session.user_id}}">Profile</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
                {%endif%}
                {%else%}
                <li class="nav-item active">
                <a class="nav-link" href="/signup">Login/Register</a>
                </li>
                {%endif%}
        </ul>
    </div>
</nav>

    <!-- Page Content -->
    <div class="container">
    <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">{{myproduct.title}}</h1>
        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-6 center">
                <img class="img-fluid" src="{% static 'heaven_app/img/'%}{{myproduct.image}}" alt="">
                <br>
            </div>

            <div class="col-md-6">
                <h2 class="my-3">Product Price</h2>
                <h6>{{myproduct.price}}$</h6>
                <h3 class="my-3">Product Description</h3>
                <p>{{myproduct.description}}</p>
                <div class="row_for_buttons">
                    <br>
                    <div class="col-md-4">
                        <a href="/like/{{myproduct.id}}" class="btn btn-primary btn-product"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a> <b>{{userslikes.count}}</b>
                    </div>
                    <div class="col-md-8">
                        <a href="/order/{{myproduct.id}}" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Order</a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
<br>
<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                    Recent Reviews</h3>
                <span class="label label-info">Number of Reviews: {{myreviews.count}}</span>
            </div>
            <div class="panel-body">
                <ul class="list-group">
				{% for review in page_review %}
                    <li class="list-group-item d_list">
                            <div class="alert alert-primary d_alert" role="alert">
                                <div class="d_col1">
                                    <div class="comment-text">
                                    <h6>Comment:</h6> {{review.content}}
                                    </div>
                                    <div class="mic-info">
                                        <h6>By:</h6> {{review.user_id.first_name}} {{review.user_id.last_name}} on {{review.created_at}}
                                    </div>
                                </div>
                            </div>
                    </li>
					{% endfor %}
                </ul>


                <!--Pagination-->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                    {% for i in page_review.paginator.page_range %}
                        {% if page_review.number == i %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">
                            {{ i }}
                            <span class="sr-only">(current)</span>
                            </span>
                        </li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_review.has_next %}
                        <li class="page-item">
                        <a class="page-link" class="btn btn-primary btn-sm btn-block" href="?page={{ page_review.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                        <a class="page-link" href="#" class="btn btn-primary btn-sm btn-block"tabindex="-1" aria-disabled="true">Next</a>
                        </li>
                    {% endif %}
                    </ul>
                </nav>
                <!--end of Pagination-->

                <!-- <a href="page-link" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a> -->
            </div>
            {%if 'user_id' in request.session%}
            <form action='/review/{{myproduct.id}}' method='post'>
            {% csrf_token %}
                <div class="form-group">
                    <label for="comment">Your Review:</label>
                    <textarea name="content" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
            {%endif%}
        </div>
    </div>
</div>
<br>
    <!-- Footer -->
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Heaven's Above 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'heaven_app/js/jquery.min.js'%}"></script>
    <script src="{% static 'heaven_app/js/bootstrap.bundle.min.js'%}"></script>
    
</body>

</html>
