<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heaven's Above</title>

  {%load static%}
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'heaven_app/css/style.css'%}">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'heaven_app/css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Heavens above</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="about">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="contact">Contact</a>
        </li>
        {%if 'user_id' in request.session%}
              {%if request.session.user_role %}
          <li class="nav-item active">
            <a class="nav-link" href="/admin/{{request.session.user_id}}">DashBoard</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
            {%else%}
          <li class="nav-item active">
            <a class="nav-link" href="/account/{{request.session.user_id}}">Profile</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
            {%endif%}
            {%else%}
            <li class="nav-item active">
              <a class="nav-link" href="/signup">Login/Register</a>
            </li>
            {%endif%}
      </ul>
    </div>

</nav>

  <header>
  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Welcome to Heavens Above!</h1>
    
    <form action="" method="GET" class="form-inline search" >
      <div class="input-group mb-3">
          <input type="text" class="form-control" name='q' id="product" placeholder="Enter a keyword" >
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="text" id="button-addon2">Go</button>
        </div>
      </div>
    </form>    

    <div class="row">
      {%for p in product%}
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://assets-global.website-files.com/5e5a3c3d3c3e0f4cdde9f438/5ef340192b8c0f788c80fea6_luke-opt.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">{{p.title}}</a>
            </h4>
            <p class="card-text">{{p.description}}</p>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
    
        <!--Pagination-->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if product.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ product.previous_page_number }}">Previous</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
            {% endif %}
            {% for i in product.paginator.page_range %}
              {% if product.number == i %}
                <li class="page-item active" aria-current="page">
                  <span class="page-link">
                    {{ i }}
                    <span class="sr-only">(current)</span>
                  </span>
                </li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if product.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ product.next_page_number }}">Next</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
              </li>
            {% endif %}
          </ul>
        </nav>
        <!--end of Pagination-->
    
    <hr>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-4 bg-dark" >
      <p class="m-0 text-center text-white">Copyright &copy; Heaven's Above 2020</p>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'heaven_app/js/jquery.min.js'%}"></script>
  <script src="{% static 'heaven_app/js/bootstrap.bundle.min.js'%}"></script>


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $(function () {
        $("#product").autocomplete({
            source: '{% url "autocomplete" %}',
            minLength: 2
        });
    });
</script>
</body>

</html>
